// define color here
midcolor = #1F2C41
darkcolor = #192436
lightcolor = #344A6A
semilightcolor = #293B54
lighttext = #D3DEF0
almostwhite = #F6F6F7
lightblue = #5393F7

splitline = #596b85
tableheader = #1d2e45
tablecellcolor = #293b54

greenbg = #19c752
greenindicator = #16b34a

h3
  margin 10px auto
  text-align center

.general-card
  margin 10px auto
  color midcolor
  border-width 0px

  button
    margin auto

.card
  margin 10px auto

.general-dark-card
  margin 10px auto
  background-color darkcolor
  color white

#switchCameraModal
  .modal-content
    color midcolor

.mobile-cam-card
  border-width 0px
  margin 20px auto
  input
    border 0
    outline 0
    background transparent
    border-bottom 1px solid white
    color white
  .card-body
    padding 0px

.card-basicinfo
  .row
    margin 10px auto
    .input-group
      padding 2px
