// Material Shadows
shadow-level(l = 1)
    if l == -1
        box-shadow: inset -2px 7px 9px -7px rgba(0,0,0,0.7);
    if l == 0
        box-shadow: none;
    if l == 1
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    if l == 2
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    if l == 3
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    if l == 4
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    if l == 5
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);


// Colors
midcolor = #1F2C41
darkcolor = #192436
lightcolor = #344A6A
semilightcolor = #293B54
lighttext = #D3DEF0
almostwhite = #F6F6F7
lightblue = #5393F7

splitline = #596b85
tableheader = #1d2e45
tablecellcolor = #293b54

greenbg = #19c752
greenindicator = #16b34a

z = {
    neg: -7,
    lowest: 1,
    low: 4,
    mid: 5,
    video: 6,
    header: 7,
    nav: 8,
    mini: 9,
    modal: 10,
    highest: 11
}


main
  padding-top 50px
  width 80%
  margin 0 auto
  .search-card
    .card-heading
      text-align center

.scandidate
  padding-top 50px
  margin 0 auto
  .search-card
    .card-heading
      text-align center

.card-download
  height 200px
  .card-body
    text-align center
    font-size 400%

.header-image
  width 500px
  padding-top 20px
  margin 0 auto

nav
  .form-group
    .bth
      width 200px

table.fixed
  table-layout fixed
  td
    overflow hidden

.exam_cert
  h1,h2,h3
    text-align center
    font-family Tahoma, Helvetica, Arial, "Microsoft Yahei","微软雅黑", STXihei, "华文细黑", sans-serif;
  .logo
    width 300px
    margin auto
  .student_info, .exam_info, .location_info, .exam_instruction
    width 90%
    margin 5px auto
    .important-header
      font-size 20px
      font-weight bold
      text-align center
    .important-footer
      font-size 20px
      font-weight bold
      text-align right
  .borderless
    margin auto
    td, th
      border none
      border-top 0px !important
    .text-label
      width 30%
      font-size 18px
      font-weight bold
  .examroom-table
    margin auto
  .exam_instruction
    p
      font-size 13px

.main-photo-card
  border-width 0px
  h2, p
    color #F3FBFF
  p
    font-size 14px

.centerCol
  display flex
  align-items center
  flex-wrap wrap

.mobile-studentinfo-card
  margin auto
  border-width 0px
  .card-body
    color midcolor
  .text-block
    margin 10px auto
  p, h5
    margin 0

#query
  border-color midcolor
  color midcolor
