<template name="nav">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/admin">考试报名确认</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav">
          <!-- Admin menu hidden -->
          {{#if currentUser}}
            <li role="presentation" class={{isActiveRoute 'studentPage'}}><a href="/admin">学生管理</a></li>
            <li role="presentation" class={{isActiveRoute 'examroomPage'}}><a href="/examroom">考点管理</a></li>
            <li role="presentation" class={{isActiveRoute 'scandidate'}}><a href="/scandidate">疑似学生管理</a></li>
          {{/if}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
        </ul>
        <form class="navbar-form navbar-right">
          <div class="form-group">
            <input type="text" class="form-control" id="UserID" placeholder="身份证号">
          </div>
          <button type="submit" class="btn btn-primary btn-query">查询</button>
          <button class="btn btn-default btn-reset">重置</button>
        </form>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</template>
